.left {
  float: left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}

header h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 22px;
}
header .nav-bar li {
  text-transform: uppercase;
  padding: 5px;
  display: inline;
}

.title {
  padding: 120px 0 60px 0;
  text-align: center;
}
.title h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 35px;
}
.title p {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-size: 17px;
  color: #777;
}

#banner {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  height: 700px;
}
#banner .banner-welcome {
  background: none;
  color: #fff;
  text-align: center;
  padding: 300px 0 100px 0;
}
#banner .banner-title {
  font-family: 'Droid Serif', serif;
  font-size: 40px;
  font-style: italic;
}
#banner .banner-paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.icon {
  font-size: 50px;
}

.services-inner {
  text-align: center;
}
.services-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.services-paragraph {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #777;
}

#portfolio {
  background-color: #eee;
}

.portfolio-img {
  width: 100%;
}
.portfolio-description {
  text-align: center;
  padding: 18px;
  margin-bottom: 10px;
  background-color: #fff;
}
.portfolio-title {
  font-size: 20px;
  font-weight: bold;
}

.about-card {
  margin-bottom: 50px;
  width: 50%;
  overflow: auto;
}
.about-right {
  margin-left: calc(50% - 81.5px);
}
.about-left {
  margin-left: 81.5px;
}
.about-description {
  box-sizing: border-box;
  padding: 15px;
  width: 75%;
}
.about-imagen {
  width: 25%;
  text-align: center;
}
.about-img {
  width: 100%;
  border-radius: 100%;
}
.about-circle {
  background-color: #fed136;
  width: 163px;
  height: 163px;
  border-radius: 100%;
}
.about-circle p {
  text-align: center;
  padding: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

#team {
  background-color: #EEEEEE;
  text-align: center;
}

.team-inner {
  text-align: center;
}

.team-card .social-list {
  padding: 0;
}
.team-card .social-list a {
  text-decoration: none;
}
.team-card .social-list li {
  display: inline;
}
.team-card img {
  border: 7px solid #fff;
  border-radius: 100%;
}

#contact {
  height: 800px;
  background-color: #222;
  background-image: url(../img/map-image.png);
}

.title-contact {
  color: #fff;
}

.contact-form {
  text-align: center;
}
.contact-form input[type="text"] {
  margin: 15px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
}
.contact-form textarea {
  margin-top: 15px;
  height: 240px;
  border-radius: 5px;
}

footer {
  text-align: center;
}
footer li {
  display: inline;
}
