.left{
	float: left;
	text-align:left;
}
.right{
	float: right;
	text-align:right;
}

.header{
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: 768px) {
	    width: 750px;
	}
	@media (min-width: 992px) {
	    width: 970px;
	}
	@media (min-width: 1200px) {
    	width: 1170px;
	}

	h1{
		font-family: 'Kaushan Script', cursive;
		font-size: 27px;
		color: #fec503;
		padding: 30px;
		margin: 0;
	}
	.nav-bar{
		padding: 30px;
		li{
			font-size: 14px;
			letter-spacing: 4px;
			font-weight: bold;
			text-transform: uppercase;
			padding: 12px;
			display:inline;
			&:hover{
				cursor: pointer;
				color: #fed136;
			}
		}
	}
	.boton{
		font-weight: bold;
		text-transform: uppercase;
		background-color: #fed136;
		padding: 20px 40px;
	}

}

.title{
	padding	: 120px 0 70px 0;
	text-align: center;
	h1{
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 38px;
	}
	p{
		font-family: 'Droid Serif', serif;
		font-style: italic;
		font-size: 15px;
		color:#777;
	}
}



#banner{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	height: 700px;
	.banner{

		&-welcome{
			background:none;
			color: #fff;
			text-align: center;
			padding: 300px 0 100px 0;
		}
		&-title{
			font-family: 'Droid Serif', serif;
			font-size: 40px;
			font-style: italic;
		}
		&-paragraph{
			font-family: 'Montserrat', sans-serif; 
			font-size: 80px;
			font-weight: bold;
			text-transform: uppercase;

		}
	}

}

.icon{
	font-size: 55px;
	&-circle{
		color:#fed136;
	}
}


.services{
	&-inner{
		text-align: center;
	}
	&-title{
		font-family: 'Montserrat', sans-serif; 
		font-size: 17px;
		font-weight: bold;
	}

	&-paragraph{
		font-family: 'Roboto Slab', serif;
		text-align: center;
		color:#777;
		margin-bottom: 100px;
	}
}


#portfolio{
	background-color:#eee;
}

.portfolio{

	&-img{
		width: 100%;
	}
	&-description{
		text-align: center;
		padding: 18px;
		margin-bottom: 10px;
		background-color: #fff;
	}
	&-title{
		font-size: 20px;
		font-weight: bold;
	}
}

.about{


	&-card{
		margin-bottom: 50px;
		width: 50%;
		overflow: auto;
	}

	&-right{
		margin-left:  43.75%;
	}

	&-left{
	    margin-left: 6.25%;
	}

	&-description{
		box-sizing:border-box;
		padding:15px;
		width: 75%;
	}
	&-imagen{
		width: 25%;
		text-align: center;
	}
	&-img{
		width: 100%;
		border-radius: 100%;
	}
	&-circle{
		background-color: #fed136;
		width: 163px;
		height: 163px;
		border-radius: 100%;
		margin-bottom: 50px;
		p{
		text-align:center;
			padding:35px;
			text-transform: uppercase;
			font-weight: bold;
			color: #fff;
			font-size: 20px;
		}
	}

	&-title{
		font-size: 18px;
		font-weight: bold;
	}
}



#team{
	background-color: #EEEEEE;
	text-align: center;	
}

.team-inner{
	text-align:center;
}

.team-card{
	.social-list{
		padding: 0;
		a{
			text-decoration: none;
		}
		li{
			display: inline;
		}
	}

	img{
		border: 7px solid #fff;
		border-radius: 100%;
	}
}

#contact{
	height: 800px;
	background-color:#222;
	background-image: url(../img/map-image.png);
}


.title-contact{
	color:#fff;
}

.contact-form{
	text-align:center;
	input[type="text"]{
		margin: 15px;
		height: 60px;
		padding: 10px;
		border-radius: 5px;
	}

	textarea{
		margin-top: 15px;
		height: 240px;
		border-radius: 5px;
	}
}

footer{
	text-align: center;	

	li{
		display: inline;
	}
	
}